<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Santa Barbot Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Santa Barbot Admin Page">
    <meta name="author" content="Spirited Robotics">

    <link href="assets/css/bootswatch.main.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/bootswatch.css" rel="stylesheet">
    <link href="assets/css/barbot.css" rel="stylesheet">

    <script type="text/template" id="order_template">
    <div class="row-fluid">
      <div class="span12" style="padding:46px">
        <%= get("customer") %>, <%= get("key") %>, <%= get("date") %>   <a class="btn btn-large click-to-approve">Order</a>
      </div>
    </div>
    </script>
    
    <script type="text/template" id="debug_template">
    <div class="row-fluid">
      <div class="span12" style="padding:46px">
        TowerNumber:    <input type="text" id="test_number"/>
        Amount:    <input type="text" id="test_amount"/>
        <a class="btn btn-large click-to-test">Test</a>
      </div>    
    </div>
    </script>

  </head>
  <body class="preview">
    <div id="orders-list">
    </div>
    <div id="debug-container">
    </div>
    <script src="assets/js/jquery.1.7.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/application.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/backbone.js"></script>
    <script src="assets/js/models/order.js"></script>
    <script src="assets/js/models/barbot.js"></script>
    <script src="assets/js/admin.js"></script>
  </body>

