<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Santa Barbot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Santa Barbot drink menu">
        <meta name="author" content="Spirited Robotics">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	    <link href="assets/css/bootstrap.css" rel="stylesheet">	
	    <link href="assets/css/bootstrap-modal.css" rel="stylesheet">	 
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	    <link href="assets/css/bootswatch.main.css" rel="stylesheet">	
        <link href="assets/css/barbot.css" rel="stylesheet">

        <script type="text/template" id="drink_template">
            <section id="<%= key %>">
            <h2 class="drinktitle click-to-modal"><%= name %></h2>
            <hr class= "drinkbreak"/>
            <div class="imageframe">
                <div class="imageframeinner">
                    <img class="drinkimage" src="<%= imagePath %>">
                </div>
            </div>
            <div class="rightframe">
                <table class="ingredientstable">
                    <%= ingredients %>
                </table>
            </div>
            <span class="drinksubtitle">Description:</span>
            <div class="descriptiontext">
                <%= description %>
            </div>
            <div class="nav-button-container">
                <button class="nav-button btn btn-large btn-drink-last prev-drink" href="#">&lt;</button>
                <button class="nav-button btn btn-large btn-drink-make click-to-modal" href="#<%= key %>">MAKE IT!</button>
                <button class="nav-button btn btn-large btn-drink-next next-drink" href="#">&gt;</button>
            </div>
        </div>
        </section>
    </script>
    <script type="text/template" id="drink_list_item_template"> 
        <hr class="drinkitembreak"/>
        <li class="drink-item-template"> <%= get("name") %></li>
    </script>
    <script type="text/template" id="modal_template"> 
        <div class="modal hide fade" id="order_modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="Modal Header">Order me a <%= get("name") %>!</h3>
            </div>
            <div class="modal-body center">
                <div class="row">
                    <div class="span4 offset1">
                        <p>WHAT IS YOUR DESIGNATION?</p>
                        <input type="text" id="customer"></input>
                        <p><%= FlavorQuestions[Math.floor(Math.random()*FlavorQuestions.length)] %></p>
                        <input type="text" id="flavor"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary click-to-order">Order</a>
                    <a href="#" class="btn close" data-dismiss="modal">Forget it</a>
                </div>
            </div>
        </script>
        <script type="text/template" id="ingredient_template">
            <tr width="100%">
                <td width="20%" class="ingrval"><%= amount %></td>
                <td width="80%" class="ingrname"><%= name %></td>  
            </tr>
        </script>

        <script type="text/template" id="topbar_template">
            <li><a href="#<%= get("key") %>"><%= get("name") %></a></li>
        </script>
    </head>

    <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">

        <div class="container">

            <!-- Masthead
            ================================================== -->
            <header class="jumbotron subhead" id="overview">
            <div class="row">
                <div class="span6">
                    <h2 class="category_title">Manly Drinks</h2>
                </div>
            </div>
            
            <ul class="drinks-list nav nav-list">
            </ul>

	    </header>

            <div class="drinkframe">
                <div id="content">
                </div>

            </div>
            <div id="modal_container">
            </div>

            <!-- Footer
            ================================================== -->

        </div><!-- /container -->
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery-1.9.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-modalmanager.js"></script>
        <script src="assets/js/application.js"></script>
        <script src="assets/js/underscore-min.js"></script>
        <script src="assets/js/backbone.js"></script>
        <script src="assets/js/models/order.js"></script>
        <script src="assets/js/models/drink.js"></script>
        <script src="assets/js/models/category.js"></script>
        <script src="assets/js/menu.js"></script>
    </body>
</html>
