<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Santa Barbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Santa Barbot drink menu">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="assets/css/bootswatch.main.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/bootswatch.css" rel="stylesheet">
    <link href="assets/css/barbot.css" rel="stylesheet">
    
    <script type="text/template" id="drink_template">
      <section id="<%= key %>">
        <div class="page-header">
          <h2><%= name %></h2>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <div class="row-fluid">
              <div class="span6">
                <img src="<%= imagePath %>">
                <a class="btn btn-danger" href="#">MAKE IT!</a>
              </div>
              <div class="span6">
                <h3>Ingredients</h3>
                <ul class="ingredients">
                  <%= ingredients %>
                </ul>
              </div>
            </div>
          </div>
          <div class="span8">
            <h3>Description</h3>
            <%= description %>
          </div>
        </div>
      </section>
    </script>
    
    <script type="text/template" id="ingredient_template">
      <li><a href="javascript:void(0);" class="btn btn-info"><%= amount %> oz</a> <b><%= name %></b></li>
    </script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">

    <!-- Navbar  -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Santa Barbot Menu</a>
          <div class="nav-collapse" id="main-menu">
            <ul class="nav" id="main-menu-left">
              <li><a href="#">Vodka-based</a></li>
              <li><a href="#">Gin-based</a></li>
              <li><a href="#">Whiskey-based</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

    <!-- Masthead
    ================================================== -->
    <header class="jumbotron subhead" id="overview">
      <div class="row">
        <div class="span6">
          <h2>Vodka-based drinks:</h2>
        </div>
      </div>
      <div class="subnav">
        <ul class="nav nav-pills" id="drinks-list">
        </ul>
      </div>
    </header>

    <div id="content">
    </div>

    <!-- Footer
     ================================================== -->
    <hr>

    <footer id="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      Made by 
      <a target="_blank" href="http://thomaspark.me">Thomas Park</a>. Contact him 
      <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.<br/>
      Code licensed under the 
      <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
      Based on 
      <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Hosted on 
      <a target="_blank" href="http://pages.github.com/">GitHub</a>. Icons from 
      <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>. Web fonts from 
      <a target="_blank" href="http://www.google.com/webfonts">Google</a>.
    </footer>
    </div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/application.js"></script>
    <script src="assets/js/bootswatch.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/backbone.js"></script>
    <script src="assets/js/models/drink.js"></script>
    <script src="assets/js/menu.js"></script>
  </body>
</html>
